

$sizes : (
    4: .25rem,
    8: .5rem,
    12: .75rem,
    16: 1rem,
    20: 1.25rem,
    24: 1.5rem,
    28: 1.75rem,
    32: 2rem,
    36: 2.25rem,
    40: 2.5rem,
);

$sizes-4 : .25rem;
$sizes-8 : .5rem;
$sizes-12 : .75rem;
$sizes-16 : .1rem;
$sizes-20 : 1.25rem;
$sizes-24 : 1.5rem;
$sizes-28 : 1.75rem;
$sizes-32 : 2rem;
$sizes-36 : 2.25rem;
$sizes-40 : 2.5rem;



