---
import MainLayout from "../../../../layout/MainLayout.astro";
---


<MainLayout title="selector de etiqueta" description="selctor de etiqueta ejericicio enrique">
    <h1>hola ejercicio</h1>
</MainLayout>

<style>
    h1{
        color: cadetblue;
    }
</style>