---
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"html">["data"] & { slug: string };

const { imagenBlog, descriptionPage, slug, cardTitle } = Astro.props;
---

<article class="Article-Lenguage | bg-color-primary-800">
    <a class="Article-Lenguage__header" href={`/html/${slug}`}>
        <img class="Article-Lenguage__poster" src={imagenBlog} alt="" />
    </a>
    <div class="Article-Lenguage__content text-flow">
        <h3 class="Article-Lenguage__title | color-contrast-100">
            {`${cardTitle}`}
        </h3>
        <p class="Article-Lenguage__description">{descriptionPage}</p>
        <footer class="Article-Lenguage__footer">
            <picture class="Imagen-Container">
                <source srcset="/img/gato-mewing.avif" type="image/avif" />
                <source srcset="/img/gato-mewing.webp" type="image/webp" />
                <img
                    class="Article-Lenguage__user"
                    data-srcx="/img/gato-mewing.webp"
                    alt={`Enrique Calero`}
                />
            </picture>
            <div>
                <p class="Article-Lenguage__autor | fs-small color-contrast-100">Enrique Calero</p>
                <p class="Article-Lenguage__date | fs-small">09/04/2024</p>
            </div>
        </footer>
    </div>
</article>

<style lang="scss">
    .Article-Lenguage {
        border-radius: 0.5rem;
        overflow: hidden;
        display: grid;
        grid-template-rows: auto 1fr;

        &__poster {
            aspect-ratio: 16/9;
        }
        &__user {
            width: 40px;
            border-radius: 50%;
            aspect-ratio: 1;
        }

        &__content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
        }

        &__description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            flex-grow: 1;
        }

        &__footer {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
</style>
