---
import SplitLayout from "../components/SpliLayout.astro";
---


<section id="About-me">
    <div class="CircleBlur--conoceme degradado"></div>
    <div class="wrapper" >
        <h2 class="titleSection">Con칩ceme</h2>

        <SplitLayout>
                <p class="parrafo">Hola, soy Enrique Calero, inicie en el mundo de dise침o web a los 18 a침os. Actualmente <strong>dise침o</strong> y <strong>maqueto sitios web a medida.</strong></p>
                <br>
                <p class="parrafo">Me encanta maquetar sitios web <strong>a partir de una pieza grafica</strong>, siguiendo buenas practicas.</p>
                <br>
                <p class="parrafo">Antes de entregar un proyecto me gusta optimizar el<strong> rendimiento web</strong>, para ofrecer una mejor experiencia a sus usuarios.</p>
        </SplitLayout>
    </div>
</section>

<style lang="scss" >


    
    .parrafo{
        color: #948bb6;

        > strong {
            color: #fff;
        }
    }

</style>