<section>
    <div class="CircleBlur--portafolio degradado"></div>
    <div class="wrapper Cta">
        <h2 class="superTitulo Cta-Titulo">¿Tienes un <strong class="textDegradado degradado">negocio</strong> y quieres
            dar a conocer <strong class="textDegradado degradado">tus servicios
            en internet?</strong>
        </h2>
        <p class="Cta__parrafo">Deberias Contactarme</p>
        <a href="#Formulario" class="Cta__btnContacto boton--primary">
            Contactame
        </a>
    </div>
</section>

<style lang="scss">

    .Cta{
        // background-color: black;
        
        justify-items: center;
        padding-block: 10rem;
        gap: 2rem;
        content-visibility: auto;

        &__btnContacto{
            margin-top: 2rem;
        }

        &__parrafo{
        color: #8b8ad0;
        }
    }
    .Cta-Titulo{
        white-space: pre-line;
    }

    .textDegradado{
        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
</style>