---

import Form from "./Form.jsx";
import { Icon } from "astro-icon/components";
---


<section>
    <div class="CircleBlur--formulario degradado"></div>
    <div class="wrapper">
        <h2 class="titleSection">Contactame</h2>
        <Form client:load>
            <Icon name="CheckIcon" size={50} color="#12CB54" slot="iconCheck">
        </Form>
    </div>
</section>