---

import Form from "./Form.jsx";
import { Icon } from "astro-icon/components";
---


<section  class="wrapper-layout radial-gradiente-5">
    <div class="wrapper" >
        <header>
            <h2 class="title-section text-center" id="Formulario">Contactame</h2>
        </header>
        <Form client:visible >
            <Icon name="CheckIcon" size={50} color="#12CB54" slot="iconCheck">
        </Form>
    </div>
</section>