---

---

<section class="HeroImg | radial-gradiente-1">
    <div class="HeroImg__contenido | wrapper-layout color-neutral-000">
        <header>
            <h1 class="superTitle">
                Enrique <span class="HeroImg__textDegradado | degradado"
                    >Calero</span
                >
            </h1>
        </header>
        <p class="text-center color-primary-100">Diseñador y Maquetador Web</p>
        <footer class="HeroImg__panelBoton">
            <a href="#Formulario" class="boton--primary"
                >Contactame</a
            >
            <a href="#" class="boton--secondary">Descargar CV</a>
        </footer>
    </div>
</section>

<style lang="scss">
    .HeroImg {
        display: grid;
        height: 100svh;
        

        &__contenido {
            display: grid;
            place-content: center;
            gap: 1.5rem;
        }

        &__panelBoton {
            margin-top: 0.5rem;
            display: flex;
            gap: 1.5rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__textDegradado {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
</style>
