---
import NavBar from './NavBar.astro';
import MenuData from "../data/Menu.json";

interface Props {
    titulo: string;
    descripction: string;
}
const { titulo, descripction } = Astro.props;

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={descripction} />
        <slot name="preload" />
        <title>Enrique Calero - {titulo}</title>
    </head>
    <body>
        <NavBar ArrayItems={MenuData}/>
        <slot />
    </body>

</html>
<style is:global lang="scss">
    // @font-face {
    //     font-family: "Boogaloo";
    //     src: url("/fonts/Boogaloo-Regular.woff2") format("woff2");
    //     font-display: swap;
    // }

    // @font-face {
    //     font-family: "Mulish";
    //     src: url("/fonts/Mulish-VariableFont_wght.woff2")
    //         format("woff2-variations");
    //     font-weight: 100 1000;
    //     font-display: swap;
    // }

    :root {
        --step--2: clamp(0.6944rem, 0.6766rem + 0.089vi, 0.7378rem);
        --step--1: clamp(0.8333rem, 0.812rem + 0.1068vi, 0.8854rem);
        --step-0: clamp(1rem, 0.9744rem + 0.1282vi, 1.0625rem);
        --step-1: clamp(1.2rem, 1.1692rem + 0.1538vi, 1.275rem);
        --step-2: clamp(1.44rem, 1.4031rem + 0.1846vi, 1.53rem);
        --step-3: clamp(1.728rem, 1.6837rem + 0.2215vi, 1.836rem);
        --step-4: clamp(2.0736rem, 2.0204rem + 0.2658vi, 2.2032rem);
        --step-5: clamp(2.4883rem, 2.4245rem + 0.319vi, 2.6438rem);
        --step-6: clamp(2.986rem, 2.9094rem + 0.3828vi, 3.1726rem);

        --alto-header: clamp(3rem, 1.2727rem + 3.6364vw, 3.7rem);
        --section-padding: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
        --bg-color: #040420;
        --color-Primary: #165bd0;
        --color-Secondary:#3fd5ce;
        color-scheme: dark;
    }

    html{
        scroll-behavior: smooth;
        scroll-padding-top: var(--alto-header);
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        // outline: 2px solid yellowgreen;
    }


    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-indent: -9999px;
    }

    body {
        // margin-top: var(--alto-header);
        font-size: var(--step-0);
        font-family: "inter", Helvetica, sans-serif;
        line-height: 1.45;
        overflow-x: hidden;
        background-color: var(--bg-color);
        
        
    }

    .body {
        min-height: calc(100svh - var(--alto-header));
    }

    .wrapper {
        width: min(90%, 1100px);
        display: grid;
        margin-inline: auto;
        gap: var(--section-padding);
        position: relative;
        // outline: 3px solid white;
    }

    .titleSection {
        font-size: var(--step-3);
        text-align: center; 
        line-height: normal;
    }

    section {
        padding-block: var(--section-padding);
        
        position: relative;
    }

    .section-padding {
        padding-block: var(--section-padding);
        
    }

    .sectionColor2{
        background-color: #f4fcff;
    }

    .degradado {
        background-image: linear-gradient(
            135deg,
            var(--color-Primary) 0%,
            var(--color-Secondary) 100%
        );
    }

    .footerColor {
        background: rgb(37, 37, 37);
    }

    a {
        text-decoration: none;
        display: inline-block;
    }
    li {
        list-style: none;
    }

    .superTitulo {
        // font-family: "Boogaloo";
        font-size: var(--step-6);
        line-height: normal;
        text-align: center;
        // text-transform: uppercase;
    }

    h1,
    .title1 {
        font-size: var(--step-3);
    }

    h2,
    .title2 {
        font-size: var(--step-2);
    }
    h3,
    .title3 {
        font-size: var(--step-1);
    }
    h4,
    .normal {
        font-size: var(--step-0);
    }
    h5,
    .small {
        font-size: var(--step--1);
    }
    h6,
    .smallx {
        font-size: var(--step--2);
    }

    .boton{
        width: max-content;
        border-radius: 100vh;
        padding: .5rem 1.5rem;
        text-align: center;
        font-weight: 600;

        &--primary{
            @extend .boton;
            color: #fff;
            background-color: var(--color-Primary);
            border: 3px solid var(--color-Primary);
            
        }

        &--secondary{
            @extend .boton;
            color: var(--color-Secondary);
            border: 3px solid var(--color-Secondary);
        }
    }

    .CircleBlur {
        position: absolute;
        aspect-ratio: 1/1;
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(80px);


        &--1 {
            @extend .CircleBlur;
            width: 70vmin;
            // left: -15%;
            top: 0;
            transform: translate(-50%,-50%);
        }

        &--2 {
            @extend .CircleBlur;
            width: 40vmin;
            left: 70%;
            top: 35%;
        }

        &--Habilidades{
            @extend .CircleBlur;
            width: 30vmin;
            left: 20%;
            top: 35%;
        }

        &--conoceme{
            @extend .CircleBlur;
            width: 40vmin;
            left: 47%;
            top: 32%;
        }

        &--formulario{
            @extend .CircleBlur;
            width: 30vmin;
            left: 25%;
            top: 40%;
        }

        &--portafolio{
            @extend .CircleBlur;
            width: 40vmin;
            top: 50%;
            left: 50%;
            transform: translate(-45%,-50%);
        }
    }


</style>
