<header>
    <nav>
        <ul class="Navbar__lista">
            <li class="Navbar__item">
                <a href="#Habilidades" class="Navbar__link">Habilidades</a>
            </li>
            <li class="Navbar__item">
                <a href="#Portafolio" class="Navbar__link">Portafolio</a>
            </li>
            <li class="Navbar__item">
                <a href="#Conoceme" class="Navbar__link">Conóceme</a>
            </li>
            <li class="Navbar__item">
                <a href="#Contactame" class="Navbar__link">Contactame</a>
            </li>
        </ul>
    </nav>
    
</header>

<style lang="scss" >
    header{
        position: fixed;
        z-index: 20;
        width: 100%;
        display: grid;
        align-items: center;
        
        height: var(--alto-header);
        animation: Blur linear both;
        animation-timeline: scroll();
        animation-range: 0 100svh;
        // background-color: rgba(2, 2, 23, 0.2);

        @keyframes Blur {
            100%{
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
                background-color: rgba(0, 0, 0, 0.32);
                backdrop-filter: blur(10px);
            }
        }
        
    }

    .Navbar__lista{
        display: flex;
        justify-content: center;
        // background-color: crimson;
        gap: 2rem; 
        
    }

    .Navbar__item{
        
        color: #fff;
    }
    .Navbar__link{
        color: #fff;

        &:hover{
            color: var(--color-Secondary);
        }
    }
</style>