<article class="color-primary-100">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure debitis, atque laborum veniam maiores ducimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quam laborum mollitia saepe perspiciatis fugiat <strong class="color-neutral-000"> sexooo</strong> animi tenetur quisquam, sint ex quae magni, nulla vitae voluptates ipsa? Minima officia maiores repellat?</p>
</article>


<style lang="scss">

   

    
    
    


</style>