---
type order = "Left" | "Right";

interface Props {
    orderContainer?: order;
}

const { orderContainer = "Left" } = Astro.props;
---

<article class="Split-Container | grid-columns">
    <div class:list={["contenido", { order: orderContainer === "Right" }]}>
        <slot />
    </div>
    <picture class="Imagen-Container">
        <source srcset="/img/gato-mewing.avif" type="image/avif" />
        <source srcset="/img/gato-mewing.webp" type="image/webp" />
        <img
            class="Split__Imagen"
            data-srcx="/img/gato-mewing.webp"
            alt={`Enrique Calero`}
        />
    </picture>
</article>

<style lang="scss">
    @use "../scss/settings/" as *;

    .Split-Container {
        --_gap: 3rem;
        @include media-Query(tablet) {
            --_columns: 2;
        }
    }

    .Imagen-Container {
        width: 80%;
        background-color: #181234;
        justify-self: center;
        overflow: hidden;
        clip-path: circle(50% at 50% 50%);
        aspect-ratio: 1/1;
    }

    .Split__Imagen {
        height: 100%;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.15);
        }
    }

    .contenido {
        align-content: center;
    }

    .order {
        order: 0;
        @media (width > 768px) {
            order: 1;
        }
    }
</style>
