---
import SplitLayout from "../components/SpliLayout.astro";
---


<section id="About-me" class="| wrapper-layout padding-section radial-gradiente-2" data-type="sm">
    <header>
        <h2 class="title-section text-center" id="about-me">Con칩ceme</h2>
    </header>
    <SplitLayout>
        <p class="color-primary-100">Hola, soy Enrique Calero, inicie en el mundo de dise침o web a los 18 a침os. Actualmente <strong class="color-neutral-000">dise침o</strong> y <strong class="color-neutral-000">maqueto sitios web a medida.</strong></p>
        <br>
        <p class="color-primary-100">Me encanta maquetar sitios web <strong class="color-neutral-000">a partir de una pieza grafica</strong>, siguiendo buenas practicas.</p>
        <br>
        <p class="color-primary-100">Antes de entregar un proyecto me gusta optimizar el<strong class="color-neutral-000"> rendimiento web</strong>, para ofrecer una mejor experiencia a sus usuarios.</p>
</SplitLayout>
</section>
