<section class="| wrapper-layout padding-section text-center radial-gradiente-4">
    <div class="Cta text-flow">
        <h2 class="fs-superTitle Cta-Titulo color-neutral-000">¿Tienes un <strong class="textDegradado degradado">negocio</strong> y quieres
            dar a conocer <strong class="textDegradado degradado">tus servicios
            en internet?</strong>
        </h2>
        <p class="Cta__parrafo | color-primary-100">Deberias Contactarme</p>
        <a href="#Formulario" class="Cta__btnContacto boton--primary">
            Contactame
        </a>
    </div>
</section>

<style lang="scss">

    .Cta{

        justify-items: center;
        padding-block: 7rem;
        gap: 2rem;

        &__btnContacto{
            margin-top: 1.75rem;
        }
    }
    .Cta-Titulo{
        white-space: pre-line;
        line-height: normal;
    }

    .textDegradado{
        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
</style>