---
import { Icon } from "astro-icon/components";
---


<section class="hero-html | radial-gradiente-1 wrapper-layout padding-section" >
    <div class="hero-html__contenido | color-neutral-000">
        <header>
            <h1 class="superTitle">
                Lenguaje <span class="hero-html__textDegradado | degradado"
                    >CSS</span>
            </h1>
        </header>
        <p class="color-primary-100">CSS es un lenguaje que da estilo a las páginas web, controlando colores, fuentes, márgenes y la disposición de los elementos para mejorar su apariencia.</p>
        <footer class="hero-html__panelBoton">
            <a href="#Articulos" class="boton--primary"
                >Aprende</a
            >
        </footer>
    </div>
    <span class="hero-html__icon">
        <Icon name="Css" size={250} />
    </span>
</section>

<style lang="scss">

@use "../scss/settings/" as *;

    .hero-html {


        display: grid;
        // gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "contenido";
        height: 100svh;
        text-align: center;
        
    
        &__contenido {
            grid-area: contenido;
            display: grid;
            place-content: center;
            gap: 1.5rem;

            // background-color: crimson;

            @include media-Query(tablet) {
                place-content: center start;
            }
        }

        &__panelBoton {
            margin-top: 0.5rem;
            display: flex;
            gap: 1.5rem;
            flex-wrap: wrap;
            justify-content: center;

            @include media-Query(tablet) {
               justify-content: start;
            }
        }

        &__textDegradado {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__icon{
            grid-area: logo;
            display: grid;
            align-items: end;
           

            @include media-Query(tablet) {
                align-items: center;
            }
        }


        @include media-Query(tablet) {
            grid-template-columns: 6fr 4fr;
            grid-template-areas: "contenido logo" ;
            text-align: start;
        }
    }
</style>