---
import { Icon } from "astro-icon/components";
---


<section class="hero-html | radial-gradiente-1 wrapper-layout padding-section" >
    <div class="hero-html__contenido | color-neutral-000">
        <header>
            <h1 class="superTitle">
                Lenguaje <span class="hero-html__textDegradado | degradado"
                    >HTML</span
                >
            </h1>
        </header>
        <p class="color-primary-100">HTML es un estándar que sirve para definir la estructura y el contenido de una pagina web</p>
        <footer class="hero-html__panelBoton">
            <a href="#Formulario" class="boton--primary"
                >Aprende</a
            >
            <!-- <a href="#" class="boton--secondary">Descargar CV</a> -->
        </footer>
    </div>
    <span class="hero-html__icon">
        <Icon name="Html" size={250} />
    </span>
</section>

<style lang="scss">

@use "../scss/settings/" as *;

    .hero-html {


        display: grid;
        // gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas: "logo" "contenido";
        height: 100svh;
        text-align: center;
        
    
        &__contenido {
            grid-area: contenido;
            display: grid;
            place-content: center;
            gap: 1.5rem;

            // background-color: crimson;

            @include media-Query(tablet) {
                place-content: center start;
            }
        }

        &__panelBoton {
            margin-top: 0.5rem;
            display: flex;
            gap: 1.5rem;
            flex-wrap: wrap;
            justify-content: center;

            @include media-Query(tablet) {
               justify-content: start;
            }
        }

        &__textDegradado {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__icon{
            margin-top: auto;
            grid-area: logo;
            place-content: center;

            [data-icon="Html"] {
                width: 40%;
                margin-inline: auto;

                @include media-Query(tablet) {
                    width: 80%;
            }
            }

            @include media-Query(tablet) {
                margin-top: 0;
            }
        }


        @include media-Query(tablet) {
            grid-template-columns: 6fr 4fr;
            grid-template-areas: "contenido logo" ;
            text-align: start;
        }
    }
</style>