---
import NavBar from "../components/NavBar.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content={description} />
    </head>
    <body>
        <!-- <NavBar /> -->
        <slot />
    </body>
</html>

<style is:global lang="scss">
    @font-face {
        font-family: "Inter";
        src: url("/fonts/inter-latin-variable-full-normal.woff2")
            format("woff2-variations");
        font-weight: 100 1000;
        font-display: swap;
    }

    :root {
        --step--2: clamp(0.7378rem, 0.8125rem + -0.0996vi, 0.7901rem);
        --step--1: clamp(0.8854rem, 0.8904rem + -0.0066vi, 0.8889rem);
        --step-0: clamp(1rem, 0.9732rem + 0.119vi, 1.0625rem);
        --step-1: clamp(1.125rem, 1.0607rem + 0.2857vi, 1.275rem);
        --step-2: clamp(1.2656rem, 1.1523rem + 0.5036vi, 1.53rem);
        --step-3: clamp(1.4238rem, 1.2472rem + 0.7851vi, 1.836rem);
        --step-4: clamp(1.6018rem, 1.3441rem + 1.1455vi, 2.2032rem);
        --step-5: clamp(1.802rem, 1.4413rem + 1.6034vi, 2.6438rem);

        --step-6: clamp(2.7rem, 2.1739rem + 1.6304vi, 3.375rem);

        --alto-header: clamp(4rem, 6.531vw + 1.694rem, 4.5rem);
        --section-padding: clamp(2rem, 1.2727rem + 3.6364vw, 5rem);

        --color-Primary50: #f0f3ff;
        --color-Primary100: #e5eaff;
        --color-Primary200: #cfdbff;
        --color-Primary300: #a8baff;
        --color-Primary400: #778dff;
        --color-Primary500: #4054ff;
        --color-Primary600: #1a25ff;
        --color-Primary700: #0814f9;
        --color-Primary800_: #0610cc;
        --color-Primary900: #070fab;
        --color-Primary950: #010c74;

        --bg-color: #e5eaff;
        --color-Secondary: #282829;
        color-scheme: dark;
    }
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #040420;
        min-height: 100vh;
        min-height: 100svh;
        font-size: var(--step-0);
        font-family: "Inter", Arial, sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 1.65;
        // overflow-x: hidden;
    }
    html {
        scroll-behavior: smooth;
        scroll-padding-block-start: 4.5rem;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-indent: -9999px;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }
    li {
        list-style: none;
    }

    h1,
    .title1 {
        font-size: var(--step-3);
    }

    h2,
    .title2 {
        font-size: var(--step-2);
    }
    h3,
    .title3 {
        font-size: var(--step-1);
    }
    h4,
    .normal {
        font-size: var(--step-0);
    }
    h5,
    .small {
        font-size: var(--step--1);
    }
    h6,
    .smallx {
        font-size: var(--step--2);
    }

    .text-flow > *:not(:first-child) {
        margin-top: 1.2em;
    }

    article[data-wrapper="true"] {
        width: min(90%, 1100px);
        margin-inline: auto;
    }

    section[data-wrapper="true"] {
        width: min(90%, 1100px);
        margin-inline: auto;
    }

    header[data-wrapper="true"] {
        width: min(90%, 1100px);
        margin-inline: auto;
    }

    pre {
        display: block;
        white-space: normal;
        clear: both;
        color: #fff;
        background: #1b1b1b;
        padding: 0;
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2;
        -ms-word-break: normal;
        word-break: normal;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        line-height: 28px;
        border-radius: 8px;
    }
    code {
        white-space: pre;
        overflow-x: auto;
    }
</style>
